body {
	margin: 0;
	padding: 0;
	background: #22201D;
	font-family: serif;
}

/* Panel layout */
.panel-wrapper {
	clear: both;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: rgba(0,0,0,0.05);
	width: 100%;
}
.panel, #top-panel {
	display: block;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
.panel-title {
	margin-left: 80px;
	color: #eee;
	font-size: 1.5em;
	font-family: serif;
	font-style: italic;
	letter-spacing: 0.1em;
}
.panel-title::before, .panel-title::after {
	content: "-";
	padding-left: 0.5em;
	padding-right: 0.5em;
}

/* Carousel control */
.carousel {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.carousel::before, .carousel::after {
	content: "";
	display: inline-block;
	position: relative;
	width: 41px;
	height: 41px;
}
.carousel::before {
	float: left;
	top: 130px;
	background: url("sprite_controls.png") 0 -41px no-repeat;
}
.carousel::after {
	float: right;
	top: -190px;
	background: url("sprite_controls.png") -41px -41px no-repeat;
}
.carousel-item {
	display: block;
	margin: 2em auto 0 auto;
	width: 480px;
	height: 270px;
	padding-top: 50px;
	
	background: rgba(0,0,0,0.2);
	color: white;
	font-family: sans-serif;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	vertical-align: center;
}

/* Top panel */
#top-panel-wrapper {
	clear: both;
	background: #080502;
	background-image: 
		-webkit-radial-gradient(center, circle, rgba(255,255,255,0.05) 0, rgba(255,255,255,0) 1000px),
		-webkit-linear-gradient(bottom, black, transparent);
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
#top-panel {
	height: 500px;
	
	background: 
		url("gargoyle.png") 20px bottom no-repeat, 
		url("ogx-logo.png") 650px 80px no-repeat;
}
#tagline {
	position: relative;
	left: 500px;
	top: 230px;
	width: 450px;
	
	color: white;
	font-size: 2em;
	font-weight: bold;
	text-shadow: black 0 2px 5px, black 0 2px 5px, black 0 2px 5px;
}

/* Projects */
#project-highlights {
}
#project-highlights .carousel-item {
	background: rgba(100,0,0,0.2);
}

/* Team */
#the-team {
	height: 400px;
}

/* Research */
#research {
}
#research .carousel-item {
	background: rgba(0,100,0,0.2);
}

/* Co-operation */
#coop-buttons-wrapper {
	text-align: center;
}
.coop-button {
	display: inline-block;
	width: 120px;
	height: 70px;
	margin: 2em;
	padding-top: 50px;
	
	background: rgba(0,0,0,0.2);
	color: white;
	font-family: sans-serif;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	vertical-align: center;
}