html, body {
	padding: 0;
	margin: 0;
	min-height: 100%;
}
body {
	background: #667;
	background-image: 
		-webkit-radial-gradient(center -100px, circle, rgba(255,255,255,1) 0, rgba(255,255,255,0) 100%);
	background-repeat: no-repeat;
}

/* DEBUG *
* {
	border: solid #aaa 1px;
}
div {
	border: solid red 1px;
}
section {
	border: solid green 1px;
}
/**/


.container {
	display: block;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}


#header-wrapper {
	clear: both;
	padding: 1em 0;
	margin: 0;
	width: 100%;
}
#header-container {
	clear: both;
	padding: 0;
}
#logo {
	display: inline-block;
	margin: 0 0 0 8%;
	padding: 0;
}
#header-container #tagline {
	display: inline-block;
	margin: 0 0 0 0.5em;
	padding: 0;
	font-family: sans-serif;
	font-size: 1.8em;
}


#highlights-wrapper {
	display: block;
	width: 100%;
	margin: 0;
	padding: 2em 0;
}
#highlights-nav {
	display: inline-block;
	float: right;
	margin: 0;
}
#highlights-nav li {
	display: inline-block;
	margin: 2px;
	height: 11px;
	width: 11px;
	background: #ddf;
	opacity: 0.5;
	border-radius: 50%;
	border: solid black 2px;
}
#highlights-nav li:first-of-type {
	opacity: 1;
}
#highlights {
	clear: both;
}
#highlights > section {
	margin: 0 0.5%;
	height: 400px;
	padding: 2em;

	background: #111;
	background-image: 
		-webkit-linear-gradient(bottom, rgba(255, 0, 0, 0.05), rgba(255, 100, 0, 0)),
		url("gargoyle.png"), 
		-webkit-radial-gradient(50% -20%, circle, black 0, transparent 100%);
	background-position: 0 0, 20px bottom, 0 0;
	background-repeat: no-repeat;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
	color: white;
	font-size: 2em;
}
#main-slide #tagline {
	position: relative;
	left: 420px;
	top: 50px;
	width: 450px;
	
	color: white;
	font-size: 1em;
	font-weight: bold;
	text-shadow: black 0 2px 5px, black 0 2px 5px, black 0 2px 5px;
}
	
	
#highlights-wrapper, #header-wrapper {
	background: rgba(0,0,0,0.2);
}


#sections {
	display: table;
	border-spacing: 1em;
	height: 200px;
	margin-top: 2em;
}
#sections .box {
	display: table-cell;
	height: 100%;
	
	background: #eee;
	background-image: 
		-webkit-radial-gradient(center -30%, circle, rgba(255,255,255,1) 0, rgba(255, 255, 255, 0) 100%);
	box-shadow: 0 2px 5px rgba(0,0,0,0.8);
	
	font-size: 0.8em;
	color: black;
	line-height: 1.5;
	vertical-align: top;
}
#sections #team-description {
	width: 25%;
}
#sections #team-members {
	width: 25%;
}
#sections #blog {
	width: 50%;
}
#sections .box, #sections .box a {
	font-family: sans-serif;
	text-decoration: none;
}
#sections .box a {
	color: #66f;
}
#sections .box a:hover {
	color: #00a;
}
/*#sections .box:first-child {
	margin-left: 0.5%;
}
#sections .box:last-child {
	margin-right: 0.5%;
}*/
#sections .box p {
	margin: 0.8em;
}


#sections #team-members {
	background: transparent;
	box-shadow: none;
	text-align: left;
}
.team-face {
	display: inline-block;
	margin: 1px;
    background: white url("plato.jpg") 0 0 no-repeat;
    background-size: 100% auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid black 1px;
	opacity: 0.8;
}
.team-face:hover {
	opacity: 0.999; /* LOL, a hack to prevent elements from being 1px to the right when opaque */
}
#sections #team-members a:nth-of-type(7n+5) .team-face {
	margin-left: 27px;
}
/*::before {
	content: "";
	display: inline-block;
	width: 25px;
	height: 50px;
}*/


#footer-wrapper {
	width: 100%;
	margin: 8em 0 0 0;
	padding: 0;
	clear: both;
	
	background: #ddd;
	background-image: 
		-webkit-radial-gradient(center -30%, circle, rgba(255,255,255,0.5) 0, rgba(255, 255, 255, 0) 100%);
	box-shadow: 
		0 -2px 5px rgba(0, 0, 0, 0.1), 
		0 3px 0 -1px rgba(255,255,255,0.6) inset;
}
#footer-container {
	height: 150px;
	padding: 0.5em 0;
}
#footer-container, #footer-container a {
	color: #777;
	font-family: sans-serif;
	font-weight:bold;
	font-size: 12px;
}
#footer-container nav {
	display: table;
	width: 600px;
	height: 90%;
	margin-left: auto;
	margin-right: auto;
}
#footer-container nav > div {
	display: table-cell;
	width: 33%;
}
#footer-container h1 {
	font-size: 1.1em;
	margin: 0.3em;
}
#footer-container ul {
	list-style: none;
	padding-left: 0;
	line-height: 1.5;
	margin: 0.3em;
}
#footer-container li {
}
#footer-container footer {
	height: 10%;
}
