body {
	margin: 0;
	padding: 0;
	background: #22201D;
	background-image: 
		-webkit-radial-gradient(center 200px, circle, rgba(0, 100, 255, 0.05) 0, rgba(255, 100, 0, 0) 100%);
	font-family: serif;
}

/* Panel layout */
.panel-wrapper {
	clear: both;
	margin-top: 50px;
	margin-bottom: 100px;
	//background-color: rgba(0,0,0,0.05);
	width: 100%;
}
.panel, #top-panel {
	display: block;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
.panel-title {
	margin-left: 80px;
	color: #ccf;
	font-size: 1.5em;
	font-family: serif;
	font-style: italic;
	letter-spacing: 0.1em;
}
.panel-title::before, .panel-title::after {
	content: "-";
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.panel-content {
	display: block;
	margin-left: auto;
	margin-right: auto;
	
	color: black;
	font-family: sans-serif;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
}
.panel-content > a {
	text-decoration: none;
	color: inherit;
}

/* Carousel control */
.carousel {
}
.carousel::before, .carousel::after {
	content: "";
	display: inline-block;
	position: relative;
	width: 41px;
	height: 41px;
	margin-left: 50px;
	margin-right: 50px;
}
.carousel::before {
	float: left;
	top: 130px;
	background: url("sprite_controls.png") 0 -41px no-repeat;
}
.carousel::after {
	float: right;
	top: -190px;
	background: url("sprite_controls.png") -41px -41px no-repeat;
}
.carousel-item {
	display: block;
	margin: 2em auto 0 auto;
	width: 480px;
	height: 270px;
	padding-top: 50px;
	
	background: rgba(0,0,0,0.2);
}

.content-box {
	background: #ccc;
	background-image: 
		-webkit-radial-gradient(center -30%, circle, rgba(255,255,255,1) 0, rgba(255, 255, 255, 0) 100%);
	box-shadow: 0 2px 5px rgba(0,0,0,0.8);
}

/* Top panel */
#top-panel-wrapper {
	clear: both;
	background: #080502;
	background-image: 
		-webkit-radial-gradient(40% -10%, circle, rgba(255, 100, 0, 0.1) 0, transparent 1000px), 
		-webkit-radial-gradient(80% 100%, circle, rgba(255, 100, 0, 0.05) 0, transparent 1000px), 
		-webkit-linear-gradient(bottom, black, transparent);
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
#top-panel {
	height: 500px;
	
	background: 
		url("gargoyle.png") 20px bottom no-repeat, 
		url("ogx-logo.png") 650px 80px no-repeat;
}
#tagline {
	position: relative;
	left: 500px;
	top: 230px;
	width: 450px;
	
	color: white;
	font-size: 2em;
	font-weight: bold;
	text-shadow: black 0 2px 5px, black 0 2px 5px, black 0 2px 5px;
}

/* Projects */
#project-highlights .panel-title {
	display: none;
}
#project-highlights {
}
#project-highlights .carousel-item {
	//background: rgba(100,0,0,0.2);
}

/* Team */
#the-team {
}
#the-team .panel-content {
	width: 600px;
	height: 150px;
	margin-top: 2em;
	margin-bottom: 2em;
	
	text-align: left;
}
#team-mission, #team-profile {
	display: inline-block;
	width: 40%;
	height: 100%;
	padding: 1em;
}
#team-mission {
	float: left;
}
#team-profile {
	float: right;
}
#team-faces {
	display: block;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	padding-top: 2em;
	padding-bottom: 2em;
}
#team-faces > div {
	padding-right: 10px;
}
#team-faces > div:nth-child(even) {
	padding-left: 40px;
}
.team-face {
	display: inline-block;
	margin-right: 10px;
    background: white url("plato.jpg") 0 0 no-repeat;
    background-size: 100% auto;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: solid black 2px;
}

/* Research */
#research {
}
#research .carousel-item {
	//background: rgba(0,100,0,0.2);
}

/* Co-operation */
#coop-buttons-wrapper {
	text-align: center;
}
.coop-button {
	display: inline-block;
	width: 120px;
	height: 70px;
	margin: 2em;
	padding-top: 50px;
	
	background: rgba(0,0,0,0.2);
	color: white;
	font-family: sans-serif;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	vertical-align: center;
}